p {
  color: red;
}

.img {
  height:200px;
  width:200px;
  background-color: yellow;
  border-width:2px;
  border-style:solid;
  background-image: url(![abhinav-anand-Wtbjeo8i9XY-unsplash](https://github.com/user-attachments/assets/43feae7d-66be-4710-8566-a55c1d60c3b7));
  
}
