p {
  color: red;
}

.img {
  height:200px;
  width:200px;
  background-color: yellow;
  border-width:2px;
  border-style:solid;
  background: url(image.jpg) no-repeat;
  background-size: cover;
  background-position:center;
}
